* {
  all: unset;
  font-family: "MesloLGS Nerd Font", "Symbols Nerd Font", sans-serif;
  font-size: 14px;
}

.bar {
  background-color: #1a1b26;
  color: #c0caf5;
  padding: 0 2px;
}

.workspaces button {
  padding: 1 2px;
  margin: 0;
  color: #a9b1d6;
}

.workspaces button.active {
  background-color: #24283b;
  color: #7aa2f7;
}

.network, .bluetooth, .volume, .brightness, .battery, .updates-none, .updates-pending, .clock, .powermenu {
  padding: 0 9px;
  margin: 9 9px;
  transition: background-color 0.2s;
}

.network:hover, .bluetooth:hover, .volume:hover, .brightness:hover, .battery:hover, .updates-none:hover, .updates-pending:hover, .clock:hover, .powermenu:hover {
  background-color: #24283b;
  border-radius: 12px;
  margin: 0 4px;
}

.network { color: #7dcfff; }
.bluetooth { color: #7aa2f7; }
.volume { color: #e0af68; }
.brightness { color: #c0caf5; }
.battery { color: #9ece6a; }
.updates-none { color: #c0caf5; }
.updates-pending { color: #f7768e; }
.clock { color: #bb9af7; }

.calendar {
  background-color: #1a1b26;
  color: #c0caf5;
  border: 1px solid #24283b;
  padding: 5px;
  border-radius: 4px;
}

.calendar:selected {
  background-color: #7aa2f7;
  color: #1a1b26;
}


.powermenu-reveal {
  background-color: #1a1b26;
  padding: 0 4px;
  border: 1px solid #414868;
  border-radius: 9px;
}

.btn-power { color: #f7768e; }
.btn-reboot { color: #e0af68; }
.btn-lock { color: #bb9af7; }
.btn-quit { color: #7aa2f7; }
