/* Catppuccin Mocha */
$base00: #1e1e2e;
$base01: #181825;
$base02: #313244;
$base03: #45475a;
$base04: #bac2de;
$base05: #cdd6f4;
$accent1: #f38ba8;
$accent2: #a6e3a1;
$accent3: #f9e2af;
$accent4: #89b4fa;
$accent5: #cba6f7;
$accent6: #94e2d5;
