/* Dracula */
$base00: #282a36;
$base01: #44475a;
$base02: #44475a;
$base03: #6272a4;
$base04: #f8f8f2;
$base05: #f8f8f2;
$accent1: #ff5555;
$accent2: #50fa7b;
$accent3: #f1fa8c;
$accent4: #8be9fd;
$accent5: #bd93f9;
$accent6: #ff79c6;
