/* Everforest Dark */
$base00: #2d353b;
$base01: #343f44;
$base02: #3d484d;
$base03: #475258;
$base04: #d3c6aa;
$base05: #e67e80;
$accent1: #e67e80;
$accent2: #a7c080;
$accent3: #dbbc7f;
$accent4: #7fbbb3;
$accent5: #d699b6;
$accent6: #83c092;
