/* Gruvbox Light Theme */
$base00: #fbf1c7;
$base01: #f2e5bc;
$base02: #ebdbb2;
$base03: #d5c4a1;
$base04: #665c54;
$base05: #3c3836;
$accent1: #9d0006;
$accent2: #79740e;
$accent3: #b57614;
$accent4: #076678;
$accent5: #8f3f71;
$accent6: #427b58;
