/* Kanagawa Lotus */
$base00: #F2ECBC;
$base01: #EAD4AC;
$base02: #D5CEA3;
$base03: #DCD5AC;
$base04: #545464;
$base05: #43436C;
$accent1: #C84053;
$accent2: #6F894E;
$accent3: #77713F;
$accent4: #4D699B;
$accent5: #624C83;
$accent6: #597B75;
