/* Kanagawa Dragon */
$base00: #181616;
$base01: #1D1C19;
$base02: #282727;
$base03: #393836;
$base04: #C5C9C5;
$base05: #A29E83;
$accent1: #C4746E;
$accent2: #8A9A7B;
$accent3: #C4B28A;
$accent4: #8BA4B1;
$accent5: #A292A3;
$accent6: #8EA4A2;
