/* Oxocarbon Light */
$base00: #f2f4f8;
$base01: #dde1e6;
$base02: #c1c7cd;
$base03: #a2a9b0;
$base04: #878d96;
$base05: #525252;
$accent1: #ee5396;
$accent2: #42be65;
$accent3: #ff7eb6;
$accent4: #33b1ff;
$accent5: #be95ff;
$accent6: #08bdba;
