/* Oxocarbon Dark */
$base00: #161616;
$base01: #262626;
$base02: #393939;
$base03: #525252;
$base04: #dde1e6;
$base05: #f2f4f8;
$accent1: #ee5396;
$accent2: #42be65;
$accent3: #ff7eb6;
$accent4: #33b1ff;
$accent5: #be95ff;
$accent6: #08bdba;
