/* Rose Pine */
$base00: #191724;
$base01: #1f1d2e;
$base02: #26233a;
$base03: #6e6a86;
$base04: #908caa;
$base05: #e0def4;
$accent1: #eb6f92;
$accent2: #9ccfd8;
$accent3: #f6c177;
$accent4: #31748f;
$accent5: #c4a7e7;
$accent6: #ebbcba;
