/* Tokyo Night */
$base00: #1a1b26;
$base01: #16161e;
$base02: #24283b;
$base03: #414868;
$base04: #a9b1d6;
$base05: #c0caf5;
$accent1: #f7768e;
$accent2: #9ece6a;
$accent3: #e0af68;
$accent4: #7aa2f7;
$accent5: #bb9af7;
$accent6: #7dcfff;
